<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
  <div class="container-fluid">
    <a class="navbar-brand" ><h2 style="margin-bottom: 2%;">ContactsApp</h2></a>
  </div>
</nav>
<div id="TableContacts" style="margin-left: 3%; margin-top: 2%; margin-right: 23%;  ">
    <form [formGroup]="forma">
    <div class="row">
            <div class="col-2">
                <button class="btn btn-secondary" *ngIf="busqueda==true" (click)="getContacts()">
                    <i class="fa-solid fa-arrow-left"></i> 
                    Mostrar todo
                </button>
            </div>

            <div class="col-1 rounded" style="margin-left: 0%; background-color: gray; height: 36px; text-align: center; color: white; width: 170px; font-weight: bold; padding-top: 5px;">
                <label>{{criterioBusqueda}}:</label>
            </div>
            
            <div class="col-3" *ngIf="criterioBusqueda!='Fecha de Registro'">
                <input style="width: 370px" type="text" formControlName="campoBusqueda" class="form-control" id="Buscar" placeholder="Ingrese el valor">
            </div>

            <div class="col-3" *ngIf="criterioBusqueda=='Fecha de Registro'">
              <div class="input-group date fj-date">
                <input type="date" class="form-control" formControlName="campoBusqueda"><span class="input-group-addon"><i class="glyphicon glyphicon-th"></i></span>
              </div>
            </div>
            
            <div class="col-1" >
                <button (click)="search()" class="btn btn-primary" >
                    Buscar <i class="fas fa-search"></i>
                </button>
            </div>

            <div class="col-1">
                <div class="dropdown">
                    <button class="btn btn-secondary dropdown-toggle" data-bs-toggle="dropdown">
                        Buscar por
                    </button>

                    <ul class="dropdown-menu">
                        <li>
                            <a class="dropdown-item" (click)="changeCriteria('Id')">Id</a>
                        </li>
                        <li>
                            <a class="dropdown-item" (click)="changeCriteria('Nombre')">Nombre</a>
                        </li>
                        <li>
                            <a class="dropdown-item" (click)="changeCriteria('Dirección')">Dirección</a>
                        </li>
                        <li>
                            <a class="dropdown-item" (click)="changeCriteria('Teléfono')">Teléfono</a>
                        </li>
                        <li>
                            <a class="dropdown-item" (click)="changeCriteria('CURP')">CURP</a>
                        </li>
                        <li>
                            <a class="dropdown-item" (click)="changeCriteria('Fecha de Registro')">Fecha de Registro</a>
                        </li>
                    </ul>
                </div>
            </div>
            <div class="col-1" style="margin-left: 6%;">
                <!-- <label for="formFile" class="form-label"></label> -->
                <input class="custom-file-input" type="file" name="file" id="inputGroupFile" (change)="onFileChange($event)" multiple="true" accept=".csv">
            </div>

            <div class="col-1" style="margin-left: 7%; margin-bottom: 1%;">
                <button (click)="resetModel()" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#newModal">
                  Nuevo
                </button>
             </div>
        
    </div>
    </form>

  <table class="table table-striped table-hover align-middle">
    <thead style = "background-color: darkgrey;">
        <th>Id</th>
        <th>Nombre</th>
        <th>Dirección</th>
        <th>Teléfono</th>
        <th>Curp</th>
        <th>Fecha Registro</th>
        <th>Editar</th>
        <th>Borrar</th>
      </thead>
      <tbody>
        <tr *ngFor="let contact of listaContacts[page-1]">
          <th>{{ contact.id }}</th>
          <th>{{ contact.nombre }}</th>
          <th>{{ contact.direccion }}</th>
          <th>{{ contact.telefono }}</th>
          <th>{{ contact.curp }}</th>
          <th>{{ contact.fechaRegistro.substring(0,10) }}</th>
          <th>
            <i data-bs-target="#myModal" data-bs-toggle="modal"
              style="cursor: pointer"
              class="fa-solid fa-pen-to-square text-info "
              (click)="getContact(contact)"
            ></i>
          </th>
          <th>
            <i data-bs-target="#deleteModal" data-bs-toggle="modal"
              style="cursor: pointer"
              class="fa-solid fa-trash text-danger "
              (click)="getContact(contact)"
            ></i>
          </th>
        </tr>
      </tbody>
  </table>

  <div class="row">
    
    <div class="col-1" style="margin-left: 40%;">
      <div class="container">
        <ul class="pagination">
          <li (click)="previousPage()" *ngIf="page!=1" class="page-item">
            <a class="page-link" aria-label="Previous">&laquo;</a>
          </li>
          <li *ngIf="page==1" class="page-item disabled">
            <a class="page-link" aria-label="Previous">&laquo;</a>
          </li>
          <li (click)="changePage(page)" *ngFor="let page of pages" class="page-item" >
            <a class="page-link">{{page}}</a> 
          </li>
          <li (click)="nextPage()" *ngIf="page!=listaContacts.length" class="page-item">
            <a class="page-link" aria-label="Next">&raquo;</a>
          </li>
          <li *ngIf="page==listaContacts.length" class="page-item disabled">
            <a class="page-link" aria-label="Next">&raquo;</a>
          </li>
        </ul>
      </div>
    </div>
  </div>

  <div class="modal fade" id=newModal data-backdrop="static" data-keyboard="false">
    <div class="modal-dialog modal-dialog-centered modal-md" >
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-tittle">New Contact</h5>
          <button class="btn btn-close" data-bs-dismiss="modal"></button>
        </div>
        <form [formGroup]="forma" (ngSubmit)="addContact()">
          <div class="modal-body">

            <label for="recipient-name" class="col-form-label">Nombre:</label>
            <input formControlName="Nombre" type="text" class="form-control" id="Nombre" placeholder="Ingrese el nombre">

            <label for="recipient-name" class="col-form-label">Direccion:</label>
            <input formControlName="Direccion" type="text" class="form-control" id="Direccion" placeholder="Ingrese la Direccion">

            <label for="recipient-name" class="col-form-label">Telefono:</label>
            <input formControlName="Telefono" type="text" class="form-control" id="Telefono" placeholder="Ingrese el teléfono">

            <label for="recipient-name" class="col-form-label">CURP:</label>
            <input formControlName="CURP" type="text" class="form-control" id="CURP" placeholder="Ingrese los 18 caracteres">

          </div>
          <div class="modal-footer">
            <button type="submit" class="btn btn-success" data-bs-dismiss="modal" [disabled]="forma.invalid">Guardar</button>
          </div>
        </form>
      </div>
    </div>
  </div>

  <div class="modal fade" id=myModal data-backdrop="static" data-keyboard="false">
    <div class="modal-dialog modal-dialog-centered modal-md">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-tittle">Edit Contact</h5>
          <button class="btn btn-close" data-bs-dismiss="modal"></button>
        </div>
        <form [formGroup]="forma" (ngSubmit)="updateContact()">
          <div class="modal-body">
            <label for="recipient-name" class="col-form-label">Nombre:</label>
            <input formControlName="Nombre" type="text" class="form-control" id="Nombre"  placeholder="">

            <label for="recipient-name" class="col-form-label">Direccion:</label>
            <input formControlName="Direccion" type="text" class="form-control" id="Direccion"  placeholder="">

            <label for="recipient-name" class="col-form-label">Telefono:</label>
            <input formControlName="Telefono" type="text" class="form-control" id="Telefono"  placeholder="">

            <label for="recipient-name" class="col-form-label">CURP:</label>
            <input formControlName="CURP" type="text" class="form-control" id="CURP"  placeholder="">

            <!-- <div class="col-3">
              <div class="input-group date fj-date">
                <label for="recipient-name" class="col-form-label">Fecha de Registro:</label>
                <input type="date" class="form-control" formControlName="FechaRegistro"><span class="input-group-addon"><i class="glyphicon glyphicon-th"></i></span>
              </div>
            </div>
            <input formControlName="FechaRegistro" type="date" class="form-control" id="FechaRegistro"  placeholder=""> -->
                  
          </div>
          <div class="modal-footer">
            <button type="submit" class="btn btn-success" data-bs-dismiss="modal" [disabled]="forma.invalid">Guardar</button>
          </div>
        </form>
      </div>
    </div>
  </div>

  <div class="modal fade" id=deleteModal>
    <div class="modal-dialog modal-dialog-centered modal-md">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-tittle">¿Estás seguro de borrar este registro?</h5>
          <button class="btn btn-close" data-bs-dismiss="modal"></button>
        </div>
        
          <div class="modal-body">
            <form [formGroup]="forma">
                <label for="recipient-name" class="col-form-label">Nombre:</label>
                <input formControlName="Nombre" type="text" class="form-control" id="Nombre"  placeholder="">
            </form>
          </div>
          <div class="modal-footer">
            <button (click)="deleteContact()" type="submit" class="btn btn-success" data-bs-dismiss="modal">Aceptar</button>
            <button class="btn btn-secondary" data-bs-dismiss="modal">Cancelar</button>
          </div>
      </div>
    </div>
  </div>

</div>

<pre>
  Estado del formulario: {{forma.valid}}
 
  Status:{{forma.status}}
</pre>
<pre>
  {{forma.value | json}}
</pre>

<script>
  
</script>